.container {
    position: relative;
    text-align: center;
    color: white;
    flex-shrink: 0;

}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Open Sans', sans-serif;
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;

    #bg {
        border-radius: 16px;
        background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    }

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 1600px;
        height: 7335px;
    }